@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form action="/Home/NotesAPI">

    Give your text <textarea name="mytext" id="mytext"></textarea><br />
    <input type="submit" value="Press to proceed"> 
</form>